{
    auto_https off
}

https://elesei.com {
    tls /certs/localhost.pem /certs/localhost-key.pem
    reverse_proxy client:3000
}

https://api.elesei.com {
    tls /certs/localhost.pem /certs/localhost-key.pem
    reverse_proxy server:8000
}
